@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #FE9269,
    ),
    'success': (
      'base': #00B24D,
    ),
    'warning': (
      'base': #F3BB4B,
    ),
    'danger': (
      'base': #F85563,
    ),
    'info': (
      'base': #909399,
    ),
  ),
  $border-color: (
    '': #dcdfe6,
    'light': #e4e7ed,
    'lighter': #ebeef5,
    'extra-light': #f2f6fc,
    'dark': #d4d7de,
    'darker': #cdd0d6,
  ),
  $menu: (
    'active-color': #ffffff,
    'text-color': #ffffff,
    'bg-color': #031427,
    'hover-bg-color': #9ab0f3,
    'base-level-padding': 24px,
  )
);

@use "element-plus/theme-chalk/src/index.scss" as *;

:root {
  --main-bg-color: #035464;
  --layout-logo-bg: #035464;
  --layout-logo-color: #ffffff;
  --layout-menu-active-bg: #4e8792;
  --layout-menu-hover-bg: #1d6574;
  --layout-menu-color: #ffffff;
  --layout-menu-hover-color: #ffffff;
  --layout-menu-active-color: #ffffff;
  --layout-menu-width: 22rem;
  --layout-menu-collapse-width: 72px;
  --el-menu-item-height: 6rem;
  --tool-header-height: 6.4rem;
  --tool-header-bg: #ffffff;
  --content-bg: #E4EDEA;
  --tags-view-height: 32px;
  --tags-view-bg: #ffffff;
  --tags-view-active-bg: #1d6574;
  --tags-view-color: #035464;
  --tags-view-active-color: #FF9169;
  --color-normal: #04113F;
}