.box {
  background: #fff;
  box-shadow: 0px 0px 4px 1px rgba(0, 53, 100, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  overflow: hidden;
  &:last-child {
    margin-right: 0;
  }
  .box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid var(--border-color);
    .title {
      font-size: 18px;
      color: var(--color-normal);
    }
  }
  .box-content {
    flex: 1;
    overflow: hidden;
  }
}

button {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}
